<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="OneCX"><img src="{{{uiRootPath}}}/img/onecx-logo.png" alt="OneCX" width="48"></a>
      <a class="navbar-item title" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Resources</a>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>OneCX</strong></div>
            <a class="navbar-item" href="https://github.com/onecx/">Repository</a>
            <a class="navbar-item" href="https://github.com/onecx/">Issue Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>OneCX Apps</strong></div>
            <a class="navbar-item" href="https://github.com/onecx-apps/">Repository</a>
          </div> 
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Development</a>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Tooling</strong></div>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-local-env:index.adoc">Local Environment</a>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-nx-plugins:index.adoc">App Generator</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Documentation</strong></div>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-portal-ui-libs:index.adoc">UI Libraries</a>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-quarkus:index.adoc">Quarkus</a>
          </div> 
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-docs-overview:code-of-conduct.adoc">Code of Conduct</a>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-docs-overview:contributing.adoc">Contributing</a>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-docs-overview:license.adoc">License</a>
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}/documentation:onecx-docs-overview:security.adoc">Security Guidelines</a>
          </div> 
        </div>
        <!--  <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Guides</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/docs/docs-guides-quarkus/latest/">Quarkus</a>
            <a class="navbar-item" href="/docs/docs-guides-bpmn/latest/">Bpmn</a>
            {{!-- <a class="navbar-item" href="#">Documentation</a>            
            <a class="navbar-item" href="#">Angular</a>
            <a class="navbar-item" href="#">CI/CD</a>             --}}
          </div> 
        </div> -->
        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div> --}}
        <div class="navbar-item">
          <span class="control">
            {{!-- <a class="button is-primary" href="#">Download</a> --}}
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
