<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Contents'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-container">
    <div class="toc-menu"></div>
    <div class="toc-menu">
      <h3>Common</h3>
      <ul>
        <li data-level="1">        
          <a href="{{{siteRootPath}}}/documentation/current/onecx-docs-overview/license.html">License</a>
        </li>
        <li data-level="1">        
          <a href="{{{siteRootPath}}}/documentation/current/onecx-docs-overview/contributing.html">Contributing</a>
        </li>
        <li data-level="1">        
          <a href="{{{siteRootPath}}}/documentation/current/onecx-docs-overview/code_of_conduct.html">Code of Conduct</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
